screen/ui_controllers/__pycache__/__init__.cpython-311.pyc
screen/ui_controllers/__pycache__/controlar_tela_main.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela1.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela2.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela1.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela2.cpython-311.pyc
screen/ui_generated/__pycache__/__init__.cpython-311.pyc
screen/ui_generated/__pycache__/screen_main.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela1.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela2.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela1.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela2.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela1.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela2.cpython-311.pyc
.vscode/launch.json
models/__pycache__/__init__.cpython-311.pyc
models/__pycache__/categorias.cpython-311.pyc
models/__pycache__/livros_categorias.cpython-311.pyc
models/__pycache__/livros.cpython-311.pyc
models/__pycache__/user.cpython-311.pyc
*.db
*__pycache__*
*.pyc
models/__pycache__/*.pyc

test/__pycache__/__init__.cpython-311.pyc
test/__pycache__/user_crud_test.cpython-311.pyc
models/__pycache__/categorias.cpython-311.pyc
models/__pycache__/livros_categorias.cpython-311.pyc
models/__pycache__/livros.cpython-311.pyc
models/__pycache__/user.cpython-311.pyc
crud/__pycache__/categorias.cpython-311.pyc
crud/__pycache__/categorias.cpython-313.pyc
crud/__pycache__/livros_categorias.cpython-311.pyc
crud/__pycache__/livros_categorias.cpython-313.pyc
crud/__pycache__/livros.cpython-311.pyc
crud/__pycache__/livros.cpython-313.pyc
crud/__pycache__/order.cpython-311.pyc
crud/__pycache__/product.cpython-311.pyc
crud/__pycache__/user.cpython-311.pyc
crud/__pycache__/user.cpython-313.pyc
