screen/ui_controllers/__pycache__/__init__.cpython-311.pyc
screen/ui_controllers/__pycache__/controlar_tela_main.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela1.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela2.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela1.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela2.cpython-311.pyc
screen/ui_generated/__pycache__/__init__.cpython-311.pyc
screen/ui_generated/__pycache__/screen_main.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela1.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela2.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela1.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela2.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela1.cpython-311.pyc
screen/ui_controllers/__pycache__/definicoes_tela2.cpython-311.pyc
